<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1 th:text="${winner}" />
<canvas id="DemoCanvas" width="700" height="600"></canvas>

<script th:inline="javascript">

    // displayBoard();

    var canvas = document.getElementById("DemoCanvas");
    if (canvas.getContext)
    {
      var ctx = canvas.getContext('2d');
      ctx.fillStyle='#171E8B';    // color of fill
      ctx.fillRect(0, 0, 700, 600); // create rectangle

      var board = [[${board}]];

      for (var line = 0; line < board.length; line++) {
        for (var column = 0; column < board[line].length; column++) {
            var x = (column * 100) + 50;
            var y = (line * 100) + 50;
            ctx.beginPath();
            if (board[line][column]=="YELLOW") {
                ctx.fillStyle = 'yellow';
            }
            else if (board[line][column]=="RED") {
                ctx.fillStyle = 'red';
            }
            else {
                ctx.fillStyle = 'black';
            }


            ctx.arc(x, y, 40, 0, 2 * Math.PI, false);
            ctx.fill();
        }
      }



    }

</script>

<script>
    window.setInterval('refresh()', 500);

    // Refresh or reload page.
    function refresh() {
        window.location.reload();
    }
</script>

</body>
</html>